@import "./color.scss";
header{
a{
    text-decoration: none;
    color: black;
    &:hover{
        color: aqua;
    }
}
}
$colors:(
    primary:rgb(33, 102, 102), 
secondary: rgb(183, 57, 149),
tertiary:white
);
.parrafo{
    width: fit-content;
    justify-content: center;
    align-content: center;
}
.p-primero{
    @extend .parrafo;
    @each $color-name, $color-value in $colors {
        .#{$color-name}{
            color: #{$color-value};
        }
        background-color: map-get($colors, primary);
        color: map-get($colors, tertiary)
        
    }
}
@mixin estilo-parrafo ($background, $typography){
    background-color: $background;
    color:$typography;
}
.p-segundo{
    @extend .parrafo;
    @include estilo-parrafo(rgb(183, 57, 149),white );
    @each $color-name, $color-value in $colors {
        .#{$color-name}{
            color: #{$color-value};
        }
    }
}

