header a {
  text-decoration: none;
  color: black; }
  header a:hover {
    color: aqua; }

.logo {
  position: relative;
  top: 10px;
  width: 100px;
  padding: 20px; }

.parrafo, .p-primero, .p-segundo {
  width: fit-content;
  justify-content: center;
  align-content: center; }

h1 {
  color: #1B998B; }

.p-primero {
  background-color: #216666;
  color: white;
  background-color: #216666;
  color: white;
  background-color: #216666;
  color: white; }
  .p-primero .primary {
    color: #216666; }
  .p-primero .secondary {
    color: #b73995; }
  .p-primero .tertiary {
    color: white; }

.p-segundo {
  background-color: #b73995;
  color: white; }
  .p-segundo .primary {
    color: #216666; }
  .p-segundo .secondary {
    color: #b73995; }
  .p-segundo .tertiary {
    color: white; }

.foto-perfil {
  position: absolute;
  top: 200px;
  width: 150px;
  left: 570px;
  align-content: center; }

.datos {
  position: absolute;
  top: 350px;
  padding-left: 520px;
  padding-right: 500px;
  text-align: center;
  color: #1B998B; }

.footer, .footer-index, .footer-contacto, .footer-miperfil, .footer-productos, .footer-sobrenosotros {
  position: absolute;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  padding-top: 25px;
  padding-left: 580px;
  padding-right: 600px;
  padding-bottom: 25px; }

.footer-index {
  background-color: #F71735; }

.footer-contacto {
  background-color: #1B998B; }

.footer-miperfil {
  background-color: #F71735; }

.footer-productos {
  background-color: #1B998B; }

.footer-sobrenosotros {
  background-color: #F71735; }
