header a {
  text-decoration: none;
  color: black; }
  header a:hover {
    color: aqua; }

.parrafo, .p-primero, .p-segundo {
  width: fit-content;
  justify-content: center;
  align-content: center; }

.p-primero {
  background-color: #216666;
  color: white;
  background-color: #216666;
  color: white;
  background-color: #216666;
  color: white; }
  .p-primero .primary {
    color: #216666; }
  .p-primero .secondary {
    color: #b73995; }
  .p-primero .tertiary {
    color: white; }

.p-segundo {
  background-color: #b73995;
  color: white; }
  .p-segundo .primary {
    color: #216666; }
  .p-segundo .secondary {
    color: #b73995; }
  .p-segundo .tertiary {
    color: white; }

footer {
  position: absolute;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  background-color: #E6AF2E;
  padding-top: 25px;
  padding-left: 580px;
  padding-right: 600px;
  padding-bottom: 25px; }
